html {
    font-size: 0.9rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.4rem;
    }
}

.center-block {
    text-align: center;
}

@media screen and (min-width: 601px) {
    .Content-Center{
        width: 30%; 
        margin: 0 auto;
        top: 50%;
        -ms-transform: translateY(70%);
        transform: translateY(70%);
    }
  }

  @media screen and (max-width: 600px) {
    .Content-Center{
        width: 80%; 
        margin: 0 auto;
        top: 50%;
        -ms-transform: translateY(65%);
        transform: translateY(65%);
    }
  }

/* Set black background color, white text and some padding */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  color: white;
  padding: 15px;
}
